extends /layout/_application
block body
  div.wrapper
    h1.ttl DARTS MAP
    div.map
      p.map-img
        img(src="img/map.jpg" alt="世界地図")
      p.name クヒオビーチ
      p.goal

    div.chara
      p.start

    p.arrow
      img(src="img/arrow.png" alt="矢")

    div.qrCode_container
      p.txt スマホからQRコードを読み込んでね
      p.qrCode

  p.debug test
