extends /layout/_application
block body
  div.wrapper
    h1.ttl
      a(href="/") DARTS MAP
    div.map
      p.map-img
        img(src="img/map.jpg" alt="世界地図")
      p.name
      p.target

    div.chara
      p.tutorial
        img(src="img/tutorial/0.png" alt="ダーツを投げるように、スマートフォンをブンと振ってみよう！(放り投げないように注意)")
      p.start

    p.arrow
      img(src="img/arrow.png" alt="矢")

    div.social
      include include/embed/_facebook 
      include include/embed/_tweet

    div.qrCode_container
      p.txt スマホからQRコードを読み込んでね。iPhoneがオススメ！
      p.qrCode

    p.copyright.
      地図イラスト: <a href="http://www.freepik.com/free-vector/trasure-map-vintage-design_716157.htm" target="_blank">&copy; Freepik</a>

  p.wrapper-sp
    span.notice DARTS MAPのリモコンです。<br>モニターの説明を見てね。<br><br>※このブラウザは<br>起動したままにしておこう！
