extends /layout/_application
block body
  div.wrapper-panorama
    div#panorama
    p.walk
    p.tutorial.num0
      img(src="img/tutorial/1.png" alt="スマートフォンを持ったまま、歩くような動きをしてみたり")
    p.tutorial.num1
      img(src="img/tutorial/2.png" alt="スマートフォンを向ける方角を変えたりしてみよう！")
    p.back
      a(href="./")
        img(src="img/back.png" alt="トップへ戻る")
